:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  background-color: hsl(217, 54%, 11%);

  --card-bg-color: hsl(216, 50%, 16%);
  --dark-blue-line-color: hsl(215, 32%, 27%);
}

* {
  font-family: "Poppins", sans-serif;
}
body {
  width: 100%;
}
#main-title-link {
  text-decoration: none;
}
#main-title-link h1:hover {
  color: var(--cyan);
}
.main-body {
  width: 100%;
}
.trivia-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 1rem;
}
.main-heading {
  margin: 1rem;
  color: var(--white);
}
.main-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
#trivia-card {
  background-color: var(--card-bg-color);
  height: 25rem;
  width: 22rem;
  border-radius: 1rem;
  cursor: pointer;
}
.card-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding: 1rem;
}
.card-img {
  height: 50%;
}
.card-img img {
  border-radius: 1rem;
}
.card-title {
  margin: 0;
  color: var(--cyan);
}
.card-description {
  color: var(--soft-blue);
  margin: 0;
}
.card-footer {
  margin: 0;
}
.card-footer p {
  font-size: 12px;
  color: var(--white);
}
.main-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}
.footer-credit {
  color: var(--white);
}
.footer-credit:hover {
  color: var(--cyan);
}
